#
# Copyright (C) 2016+ AzerothCore <www.azerothcore.org>, released under GNU AGPL v3 license: https://github.com/azerothcore/azerothcore-wotlk/blob/master/LICENSE-AGPL3
#

[worldserver]

########################################
# Schulte Core configuration
########################################
#
#    SchulteCore.Enable
#        Description: Enable Schulte Core
#        Default:     0 - Disabled
#                     1 - Enabled
#

SchulteCore.Enable = 1
